.BasicChampionProfile-profile {
  float: left;
}

.BasicChampionProfile-link {
  float: left;
  padding: 0;
}

.BasicChampionProfile-link:not(.activeLink):hover {
  background-color: white;
  cursor: auto;
}

.BasicChampionProfile-name {
  text-align: center;
  color: black;
}

.BasicChampionProfile-button:focus {
  outline: 0;
}
